.article {
  display: flex;
  padding: 30px;
  cursor: pointer;
  transition: linear 0.18s;
}
.article:nth-child(n + 2) {
  margin-top: 15px;
}

.article:hover {
  transition: linear 0.15s;
  transform: scale(1.05);
  -webkit-box-shadow: 0px 4px 15px 2px rgba(34, 60, 80, 0.13);
  -moz-box-shadow: 0px 4px 15px 2px rgba(34, 60, 80, 0.13);
  box-shadow: 0px 4px 15px 2px rgba(34, 60, 80, 0.13);
}
.postImg {
  min-width: 381px;
  max-height: 294px;
  object-fit: cover;
}
.post {
  margin-left: 30px;
}

.postListItem {
  margin-right: 17px;
}

.postLink {
  font-weight: 700;
  font-size: 14px;
  color: #00c2cb;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
}
.postLink:hover {
  text-decoration: underline;
}
.postTitle {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 700;
  color: #0f0d0e;
  text-transform: uppercase;
  line-height: 1.2;
}
.postDateAuthor {
  margin-bottom: 45px;
}
.postDate {
  font-size: 12px;
  color: #888888;
  font-weight: 400;
}
.author {
  display: inline-block;
  margin-left: 6px;
  font-size: 12px;
  color: #000000;
  font-weight: 700;
}
.postText {
  margin-bottom: 10px;
  font-size: 16px;
  color: #0f0d0e;
  font-weight: 400;
  line-height: 1.5;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
