h2 {
  color: #00c2cd;
}

.descriptionCourse {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #000000;
  color: white;
}

.descriptionCourseItem {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-bottom: 100px;
}

.descriptionCourseItemLeftHeader {
  margin-bottom: 20px;
  width: 750px;
  font-size: 28px;
}

.descriptionCourseItemLeftMain {
  width: 750px;
  font-size: 20px;
  color: #ffffff;
}

.descriptionCourseItemRight {
  text-align: start;
  padding-left: 50px;
  padding-right: 50px;
  width: 400px;
}

.descriptionCourseItemRightHeader {
  font-size: 25px;
  width: 450px;
}

.descriptionCourseItemRightMain {
  color: #ffffff;
}
