.header {
  background-color: transparent;
  height: 100px;
  padding: 30px 30px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.container {
  width: 100%;
  padding: 0 15px 0 15px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.headerBlack {
  background-color: transparent;
  height: 100px;
  padding: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: auto;
  background-color: #222;
}
