.container {
  padding: 60px 15px 65px 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
