.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.menuListItem:nth-child(n + 2) {
  margin-left: 35px;
}

.menuLink {
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.menuLinkBlack {
  font-weight: 400;
  font-size: 13px;
  color: #222;
  text-decoration: none;
  text-transform: uppercase;
}

.menuLink:hover {
  text-decoration: underline;
}
