.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.wrapper {
  align-self: center;
  background-color: transparent;
  margin: 0;
  border-radius: 15px;
  background-color: white;
}

.form p {
  align-self: center;
  font-size: 24px;
  text-align: center;
  margin: 0 0 16px 0;
}

.form input {
  margin-bottom: 20px;
  padding: 15px;
}

.form button {
  margin-top: 10px;
}
