.container {
  position: absolute;
  z-index: 1;
  align-self: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 800px;
}

.title {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  color: white;
}
