.container {
  position: absolute;
  z-index: 1;
  align-self: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 600px;
}

@keyframes occur {
  0% {
    color: transparent;
    text-shadow: none;
  }
  25% {
    color: white;
    text-shadow: 1px 1px 1px #eee;
  }
  50% {
    text-shadow: 1px 1px 2px #eee;
  }
  100% {
    text-shadow: 1px 1px 3px #eee;
  }
}

.title {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  color: #eee;
  animation-name: occur;
  animation-duration: 20s;
  text-shadow: 1px white;
  text-shadow: 1px 1px 3px white;
}
