.select {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  width: 40px;
  border: none;
  outline: none;
  border-width: 0;
}

.selectBlack {
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
  width: 40px;
  border: none;
  outline: none;
  border-width: 0;
}

.option {
  color: black;
}

.wrapper {
  width: 45px;
  height: 100%;
}
