.footer {
  width: 100%;
  background-color: #ffffff;
}
.socialIcons {
  display: flex;
  justify-content: center;
  list-style: none;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  background-color: #f4f7f6;
}
